.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-right: 15%;
  margin-bottom: 0;
  margin-left: 15%;
  padding-left: 0;
  list-style: none;
}

.slider__indicators li {
  flex: 0 1 auto;
  box-sizing: content-box;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgb(255 255 255);
  cursor: pointer;
}

.slider__indicators li.active {
  background-color: var(--extra-color);
}